body {
	margin: 0;
	font-family: 'Urbanist', sans-serif;
}
a{
	text-decoration: none;
}
*{
	font-size: 25px;
}
h1{
	color: #00FFFF;
	font-size: 70px;
}
h2{
	color: darkgray;
	font-size: 40px;
}
li{
	list-style-type: none;
	padding-bottom: 20px;
	text-align: center;
}
#BigBanner{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
#banner{
	width: 100%;
	height: 50%;
	position: relative;
	display: flex;
	/*basically every tags inside of html are positions relative as a default*/
}	
#Logo{
	width: 35%;
	position: absolute;
	top: 20px;
	left: 600px;
}
.card{
	width: 100%;
	height: 400px;
	object-fit: cover;
	overflow: hidden;
}
.card:hover{
	opacity: 0.6;
	 transform: scale(1.3,1.3);
}

.cards{
	border-radius: 5%;
	background-color: gray;
	overflow: hidden;
	width: 30%;
}
.cards:hover{
	border: 4px solid black;
}
.row{
	display: flex;
	/* the default value for display of the div text is block*/
	width: 80%;
	justify-content: space-around;
	margin: 0 auto;
}
#title{
	position: absolute;
	left: 200px;
	top: 50px;
}
#title2{
	position: absolute;
		left: 200px;
	top: 350px;
	color: black;
	background-color: white;
	border-radius: 30px;
	padding: 20px;
	cursor: pointer;
}
#title2:hover{
	background-color: black;
	color: white;
}
#host{
	width: 100%;
}
#host-cover{
	width: 100%;
}
@media screen and (max-width: 1000px){
	body{
		background-color: red;
	}
	h1{
		font-size: 200%;
		top: 0%;
	}
	#title2{
		font-size: 150%;
		top: 60%;
	}
}

@media screen and (max-width: 600px){
	body{
		background-color: aqua;
	}
	#logo{
		display: none;
	}
	#title{
		font-size: 100%;
		top: 5%;
	}
	#title2{
		font-size: 50%;
		top: 50%;
	}
}